In [1]:
import pandas as pd

#Importamos el archivo excel
linkGit="https://github.com/bf011/PC_2/raw/refs/heads/main/HDI.xlsx"

dataE=pd.read_excel(linkGit)

In [2]:
dataE = dataE.iloc[7:201]

In [3]:
len(dataE.columns)

15

In [4]:
dataE_name= [
    "HDI_rank", "Country", "Human_Development_Index","n", "Life_expectancy_at_birth", "n", "Expected_years_of_schooling", "n", 
    "Mean_years_of_schooling", "n", "Gross_national_income_per_capita", "n", "GNI_per_capita_rank_minus_HDI_rank", "n", "HDI_rank_2"
]

In [5]:
{old:new for old,new in zip(dataE.columns,dataE_name)}

{'Back': 'HDI_rank',
 'Table 1. Human Development Index and its components ': 'Country',
 'Unnamed: 2': 'Human_Development_Index',
 'Unnamed: 3': 'n',
 'Unnamed: 4': 'Life_expectancy_at_birth',
 'Unnamed: 5': 'n',
 'Unnamed: 6': 'Expected_years_of_schooling',
 'Unnamed: 7': 'n',
 'Unnamed: 8': 'Mean_years_of_schooling',
 'Unnamed: 9': 'n',
 'Unnamed: 10': 'Gross_national_income_per_capita',
 'Unnamed: 11': 'n',
 'Unnamed: 12': 'GNI_per_capita_rank_minus_HDI_rank',
 'Unnamed: 13': 'n',
 'Unnamed: 14': 'HDI_rank_2'}

In [6]:
dataE.rename(columns={old:new for old,new in zip(dataE.columns,dataE_name)},inplace=True)
dataE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 7 to 200
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   HDI_rank                            191 non-null    object
 1   Country                             194 non-null    object
 2   Human_Development_Index             191 non-null    object
 3   n                                   0 non-null      float64
 4   Life_expectancy_at_birth            191 non-null    object
 5   n                                   1 non-null      object
 6   Expected_years_of_schooling         191 non-null    object
 7   n                                   98 non-null     object
 8   Mean_years_of_schooling             191 non-null    object
 9   n                                   86 non-null     object
 10  Gross_national_income_per_capita    191 non-null    object
 11  n                                   11 non-null     object
 12  GNI_per_capita_rank_minus_HDI_rank  191 non-null    object
 13  n                                   0 non-null      object
 14  HDI_rank_2                          191 non-null    object
dtypes: float64(1), object(14)
memory usage: 22.9+ KB

In [7]:
dataE = dataE.drop(columns=["n","HDI_rank", "GNI_per_capita_rank_minus_HDI_rank", "HDI_rank_2"], errors="ignore")

In [8]:
dataE['Human_Development_Index']=pd.to_numeric(dataE.Human_Development_Index)

In [9]:
dataE['Life_expectancy_at_birth']=pd.to_numeric(dataE.Life_expectancy_at_birth)

In [10]:
dataE['Expected_years_of_schooling']=pd.to_numeric(dataE.Expected_years_of_schooling)

In [11]:
dataE['Mean_years_of_schooling']=pd.to_numeric(dataE.Mean_years_of_schooling)

In [12]:
dataE['Gross_national_income_per_capita']=pd.to_numeric(dataE.Gross_national_income_per_capita)

In [13]:
dataE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194 entries, 7 to 200
Data columns (total 6 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           194 non-null    object
 1   Human_Development_Index           191 non-null    float64
 2   Life_expectancy_at_birth          191 non-null    float64
 3   Expected_years_of_schooling       191 non-null    float64
 4   Mean_years_of_schooling           191 non-null    float64
 5   Gross_national_income_per_capita  191 non-null    float64
dtypes: float64(5), object(1)
memory usage: 9.2+ KB

In [14]:
columnas = [
    'Life_expectancy_at_birth',
    'Expected_years_of_schooling',
    'Mean_years_of_schooling',
]

In [15]:
dataE[columnas] = dataE[columnas].round(1)

In [16]:
dataE['Gross_national_income_per_capita'] = dataE['Gross_national_income_per_capita'].round(2)

In [21]:
dataE['category']=pd.cut(dataE.Human_Development_Index,
                           bins=[0.384,0.549,0.699,0.796,0.962],
                           labels=['LOW HUMAN DEVELOPMENT','MEDIUM HUMAN DEVELOPMENT','HIGH HUMAN DEVELOPMENT','VERY HIGH HUMAN DEVELOPMENT'],
                           ordered=True)

In [22]:
subtitulos=dataE[dataE['Country'].str.contains('HUMAN DEVELOPMENT',na=False)].index

In [23]:
dataE=dataE.drop(subtitulos)

In [24]:
dataE

,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,category
7,Switzerland,0.962,84.0,16.5,13.9,66933.00,VERY HIGH HUMAN DEVELOPMENT
8,Norway,0.961,83.2,18.2,13.0,64660.11,VERY HIGH HUMAN DEVELOPMENT
9,Iceland,0.959,82.7,19.2,13.8,55782.05,VERY HIGH HUMAN DEVELOPMENT
10,"Hong Kong, China (SAR)",0.952,85.5,17.3,12.2,62606.85,VERY HIGH HUMAN DEVELOPMENT
11,Australia,0.951,84.5,21.1,12.7,49238.43,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...
196,Burundi,0.426,61.7,10.7,3.1,731.79,LOW HUMAN DEVELOPMENT
197,Central African Republic,0.404,53.9,8.0,4.3,966.06,LOW HUMAN DEVELOPMENT
198,Niger,0.400,61.6,7.0,2.1,1239.87,LOW HUMAN DEVELOPMENT
199,Chad,0.394,52.5,8.0,2.6,1364.17,LOW HUMAN DEVELOPMENT
200,South Sudan,0.385,55.0,5.5,5.7,767.79,LOW HUMAN DEVELOPMENT