In [123]:
import pandas as pd

#Importamos el archivo excel
linkGit="https://github.com/bf011/PC_2/raw/refs/heads/main/HDI.xlsx"

dataE=pd.read_excel(linkGit)

In [124]:
dataE = dataE.iloc[7:192]

In [125]:
dataE_name= [
    "HDI_rank", "Country", "Human_Development_Index","n", "Life_expectancy_at_birth", "n", "Expected_years_of_schooling", "n", 
    "Mean_years_of_schooling", "n", "Gross_national_income_per_capita", "n", "GNI_per_capita_rank_minus_HDI_rank", "n", "HDI_rank_2"
]

In [126]:
{old:new for old,new in zip(dataE.columns,dataE_name)}

{'Back': 'HDI_rank',
 'Table 1. Human Development Index and its components ': 'Country',
 'Unnamed: 2': 'Human_Development_Index',
 'Unnamed: 3': 'n',
 'Unnamed: 4': 'Life_expectancy_at_birth',
 'Unnamed: 5': 'n',
 'Unnamed: 6': 'Expected_years_of_schooling',
 'Unnamed: 7': 'n',
 'Unnamed: 8': 'Mean_years_of_schooling',
 'Unnamed: 9': 'n',
 'Unnamed: 10': 'Gross_national_income_per_capita',
 'Unnamed: 11': 'n',
 'Unnamed: 12': 'GNI_per_capita_rank_minus_HDI_rank',
 'Unnamed: 13': 'n',
 'Unnamed: 14': 'HDI_rank_2'}

In [127]:
dataE.rename(columns={old:new for old,new in zip(dataE.columns,dataE_name)},inplace=True)
dataE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 7 to 191
Data columns (total 15 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   HDI_rank                            182 non-null    object
 1   Country                             185 non-null    object
 2   Human_Development_Index             182 non-null    object
 3   n                                   0 non-null      float64
 4   Life_expectancy_at_birth            182 non-null    object
 5   n                                   1 non-null      object
 6   Expected_years_of_schooling         182 non-null    object
 7   n                                   91 non-null     object
 8   Mean_years_of_schooling             182 non-null    object
 9   n                                   80 non-null     object
 10  Gross_national_income_per_capita    182 non-null    object
 11  n                                   10 non-null     object
 12  GNI_per_capita_rank_minus_HDI_rank  182 non-null    object
 13  n                                   0 non-null      object
 14  HDI_rank_2                          182 non-null    object
dtypes: float64(1), object(14)
memory usage: 21.8+ KB

In [128]:
dataE = dataE.drop(columns=["n", "HDI_rank_repeat"], errors="ignore")

In [129]:
commaToDotP=lambda xString:float(re.sub(",",".",xString))

In [130]:
columnas = [
    'Life_expectancy_at_birth',
    'Expected_years_of_schooling',
    'Mean_years_of_schooling',
    'Gross_national_income_per_capita'
]

In [131]:
dataE['Life_expectancy_at_birth']=pd.to_numeric(dataE.Life_expectancy_at_birth)

In [132]:
dataE['Expected_years_of_schooling']=pd.to_numeric(dataE.Expected_years_of_schooling)

In [133]:
dataE['Mean_years_of_schooling']=pd.to_numeric(dataE.Mean_years_of_schooling)

In [134]:
dataE['Gross_national_income_per_capita']=pd.to_numeric(dataE.Gross_national_income_per_capita)

In [135]:
dataE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 7 to 191
Data columns (total 9 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   HDI_rank                            182 non-null    object
 1   Country                             185 non-null    object
 2   Human_Development_Index             182 non-null    object
 3   Life_expectancy_at_birth            182 non-null    float64
 4   Expected_years_of_schooling         182 non-null    float64
 5   Mean_years_of_schooling             182 non-null    float64
 6   Gross_national_income_per_capita    182 non-null    float64
 7   GNI_per_capita_rank_minus_HDI_rank  182 non-null    object
 8   HDI_rank_2                          182 non-null    object
dtypes: float64(4), object(5)
memory usage: 13.1+ KB

In [136]:
dataE[columnas] = dataE[columnas].round(2)

In [139]:
dataE['category']=pd.cut(dataE.Human_Development_Index,
                           bins=[0.385,0.549,0.699,0.796,0.962],
                           labels=['LOW HUMAN DEVELOPMENT','MEDIUM HUMAN DEVELOPMENT','HIGH HUMAN DEVELOPMENT','VERY HIGH HUMAN DEVELOPMENT'],
                           ordered=True)

In [142]:
dataE

,HDI_rank,Country,Human_Development_Index,Life_expectancy_at_birth,Expected_years_of_schooling,Mean_years_of_schooling,Gross_national_income_per_capita,GNI_per_capita_rank_minus_HDI_rank,HDI_rank_2,category
7,1,Switzerland,0.962,83.99,16.50,13.86,66933.00,5,3,VERY HIGH HUMAN DEVELOPMENT
8,2,Norway,0.961,83.23,18.19,13.00,64660.11,6,1,VERY HIGH HUMAN DEVELOPMENT
9,3,Iceland,0.959,82.68,19.16,13.77,55782.05,11,2,VERY HIGH HUMAN DEVELOPMENT
10,4,"Hong Kong, China (SAR)",0.952,85.47,17.28,12.23,62606.85,6,4,VERY HIGH HUMAN DEVELOPMENT
11,5,Australia,0.951,84.53,21.05,12.73,49238.43,18,5,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
187,178,Liberia,0.481,60.75,10.42,5.08,1288.74,7,179,LOW HUMAN DEVELOPMENT
188,179,Congo (Democratic Republic of the),0.479,59.19,9.82,7.02,1076.10,9,180,LOW HUMAN DEVELOPMENT
189,180,Afghanistan,0.478,61.98,10.26,2.99,1824.19,-2,177,LOW HUMAN DEVELOPMENT
190,181,Sierra Leone,0.477,60.06,9.57,4.58,1621.51,-1,181,LOW HUMAN DEVELOPMENT
191,182,Guinea,0.465,58.89,9.81,2.20,2480.89,-13,182,LOW HUMAN DEVELOPMENT